.App {
  text-align: center;
}

.homeNavContainer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  border-top: solid 1px #d5d5d5;
}

.homeNavigation{
  display: flex;
  justify-content: space-evenly;
}

.homeNavItem{
  width: 5rem;
  margin: 0 0.3rem 0 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeSummary{
  width: 100%;
  height: 35rem;
  margin: 5rem 0 0 0;
  overflow-y: scroll;
}

.summaryContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cashSummary{
  width: 90%;
  height: 20rem;
  margin: 5rem 0 0 0;
  border: solid 1px #d5d5d5;
  border-radius: 1rem;
}
