#homePage, #accountsPage, #partnersPage, #vendorsPage, #licensesPage, #insightsPage, #inventoryPage, #viewDSPage, #uploadDSPage, #editDSPage{
  margin: 5rem 0 0 25rem;
}

#footer{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 20rem;
  height: 10rem;
  background-color: #00cc99;
}

#viewList, #postAdd, #editNote{
  font-size: 4rem;
}

#pageHeader{
  padding: 0 1rem 0 1rem;
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

#greetingsBlock{
  position: absolute;
  top: 1rem;
  left: 3rem;
  text-align: left;
  margin: 2rem 0 0 22rem;
  font-size: 2rem;
}

#greetings{
  margin: 0;
}

#greetingsSubText{
  font-size: 1rem;
  margin: 0;
}

#uploadDSBtn{
  width: 10rem;
  height: 2rem;
  margin: 1rem 1rem 1rem 0;
  outline: none;
  background-color: #8d8e8e;
  border: none;
  border-radius: 0.5rem;
  color: #ffffff;
}

#dateUpload, #shopUpload, #saleUpload, #gstUpload, #discountUpload, #pPendingUpload, #cashUpload, #creditCardUpload, #digitalUpload{
  width: 10rem;
  height: 2rem;
  margin: 1rem 1rem 1rem 0;
  border-radius: 0.3rem;
  padding: 0 0 0 0.5rem;
  border: solid 1px #dfdfdf;
}

#downloadDSXLBtn{
  display: none;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  margin: 0 0 3rem 0;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #00e6b8;
}

#downloadDSXLBtn:hover{
  cursor: pointer;
}

#dataExistsStatus{
  width: 15rem;
  color: #00cc99;
  display: none;
  background-color: #ccfff2;
  padding: 0.5rem;
  border-radius: 2rem;
}

#dataDoesNotExistStatus{
  width: 21rem;
  color: #ffffff;
  display: none;
  background-color: #ff3333;
  padding: 0.5rem;
  border-radius: 2rem;
}

#logoBlock{
  margin: 1.5rem;
  background-color: #1e1e1e;
}

#notificationModal{
  display: none;
  padding: 1rem;
  position: absolute;
  top: 5rem;
  right: 1rem;
  width: 25rem;
  height: 35rem;
  background-color: #ffffff;
  border-radius: 1rem 0 0 1rem;
  border: solid 1px #9e9e9e;
  overflow: auto;
}

#newNotifAlert{
  position: absolute;
  top: 1.5rem;
  right: 8.5rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ff3333;
  border-radius: 100%;
}

#notificationIcon{
  display: inline-block;
  margin: 2rem;
  color: #969696;
}

#notificationIcon:hover{
  cursor: pointer;
}

.notifCard{
  width: 99%;
  height: 8rem;
  margin: 0.5rem 0 0 0;
  border-radius: 0.5rem;
  background-color: #f1f1f1;
}

.viewCardTitle{
  width: 100%;
  height: 3rem;
  background-color: #303030;
  border-radius: 1rem 1rem 0 0;
  color: #ffffff;
}

.viewCardInputFields{
  padding: 2rem 1rem 1rem 1rem;
}

.viewCard{
  width: 15rem;
  height: 20rem;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
}

.viewCardDateInput{
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;;
  border: none;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}

.viewCardShopUpload{
  width: 10rem;
  height: 2rem;
  border-radius: 0.5rem;;
  border: none;
  padding: 0.5rem;
  margin: 1rem 0 1rem 0;
}

.viewCardGetDataBtn{
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
  background-color: #00b0e6;
  color: #ffffff;
  margin: 1rem 0 0 0;
}

.viewCardGetDataBtn:hover{
  cursor: pointer;
}

.displayCardViewDS{
  width: 30rem;
  height: 25rem;
  border: solid 1px #dfdfdf;
  border-radius: 1rem;
  text-align: left;
}

.displayCardViewDSTitle{
  width: 100%;
  border-radius: 1rem 1rem 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.viewDSDate{
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 0 0.5rem 0 0.5rem;
  color: #ffffff;
  background-color: #4e4e4e;
  margin: 0 0 0 2rem;
}

.displayCardViewDSContainer{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 2rem 0 0 0;
}

.siteVersion{
  color: #a8a8a8;
  font-size: 0.8rem;
}

.logOutBlockItemLight{
  display: none;
  margin: 2rem;
  color: #ffdb4c;
}

.logOutBlockItemLight:hover{
  cursor: pointer;
}

.logOutBlockItemDark{
  display: inline-block;
  margin: 2rem;
  color: #969696;
}

.logOutBlockItemDark:hover{
  cursor: pointer;
}

.logOutBlockItemShare{
  display: inline-block;
  margin: 2rem;
  color: #969696;
}

.logOutBtn{
  display: inline-block;
  margin: 2rem;
}

.logOutBtn:hover, .logOutBlockItemShare:hover, .notificationModal:hover{
  cursor: pointer;
}

.subTextColor{
  color: #8d8e8e;
}

.subTextHeadingColor{
  color: #4e4e4e;
}

.linkReadyStatusBlock{
  display: block;
}

.App {
  text-align: center;
  overflow: hidden;
  user-select: none;
}

.routerNavLink{
  color: #000000;
  text-decoration: none;
}

.homeNavContainer{
  position: fixed;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  top: 0;
  background-color: #1e1e1e;
}

.homeNavigation{
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navLinkBlock{
  width: 95%;
  height: 20rem;
  text-align: left;
}

.overviewIcon, .accountsIcon, .partnersIcon, .vendorsIcon, .licensesIcon, .insightsIcon, .inventoryIcon{
  margin: 0 1.5rem 0 0;
}

.navLink{
  margin: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  background-color: #1e1e1e;
  color: #ffffff;
  justify-content: flex-start;
}

.navLink:hover{
  cursor: pointer;
  background-color: #404040;
}

.overviewBlock{
  text-align: left;
}

.overviewSummary{
  display: flex;
}

.leaderboard{
  width: 90%;
  margin: 5rem 0 5rem 0;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 0 1rem 0 1rem;
  border: solid 1px #dfdfdf;
}

.leaderboardItem{
  width: 100%;
  height: 2rem;
}

.balanceValuesBlock{
  width: 30%;
  margin: 0 0 0 3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.balanceCash{
  width: 20rem;
  height: 15rem;
  border-radius: 1rem;
  background: linear-gradient(45deg, #00cc99, #00e6b8);
  color: #ffffff;
  text-align: left;
}

.balanceRevenue{
  width: 20rem;
  height: 12rem;
  border-radius: 1rem;
  background-color: #464646;
  color: #ffffff;
  text-align: left;
}

.performanceChart{
  width: 60%;
  height: 30rem;
  border-radius: 1rem;
  background-color: #ffffff;
  border: solid 1px #dfdfdf;
}

.summaryChart{
  width: 90%;
  height: 30rem;
  border: solid 1px #dfdfdf;
  border-radius: 1rem;
}

.dailySheetBlock{
  text-align: left;
}

.dailySheetsMenu{
  width: 90%;
  height: 10rem;
  border-radius: 1rem;
  display: flex;
}

.viewDailySheet{
  width: 20rem;
  height: 5rem;
  background-color: #464646;
  margin: 2rem 2rem 2rem 0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.uploadDailySheet{
  width: 10rem;
  height: 5rem;
  background-color: #00e6b8;
  margin: 2rem 2rem 2rem 0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.editDailySheet{
  width: 10rem;
  height: 5rem;
  background-color: #ffcc00;
  margin: 2rem 2rem 2rem 0;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
}

.viewDailySheet:hover, .uploadDailySheet:hover, .editDailySheet:hover, .uploadDSBtn:hover{
  cursor: pointer;
}

.uploadDSLinkBtn, .editDSLinkBtn{
  text-decoration: none;
  width: 10rem;
  height: 5rem;
  margin: 0 2rem 0 0;
}

.viewDSLinkBtn{
  text-decoration: none;
  width: 20rem;
  height: 5rem;
  margin: 0 2rem 0 0;
}

.inputFieldsForUploadBlock{
  width: 30rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dateInputBox{
  border: solid 1px #dfdfdf;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.cashFlowBlock{
  text-align: left;
  height: 20rem;
}

.cashFlowGenBtn, .DSGenBtn{
  display: block;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  margin: 0 0 3rem 0;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #00b0e6;
}

.cashFlowGenBtn:hover, .DSGenBtn:hover{
  cursor: pointer;
}

.monthDateBlock{
  display: inline-block;
  padding: 1rem;
  border-radius: 0.5rem;
  border: solid 1px #dfdfdf;
  margin: 1rem 1rem 1rem 0;
  background-color: #ffffff;
}

.listServerRow{
  margin: 1rem 1rem 0 0;
  border: solid 1px #dfdfdf;
  border-radius: 0.5rem;
  padding: 0 0 0 0.5rem;
}

.viewDSPageContainer{
  display: flex;
  justify-content: space-evenly;
  margin: 0 5rem 0 0;
}

.editDSPageContainer, .uploadDSPageContainer{
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 0 5rem 0 0;
}



